{% extends "main.html" %}

{% load date_converter %}

{% block title %}Login{% endblock %}

{% block content %}
<form id="login_form" action="" method="post">
    {% csrf_token %}
    <div class="line">
        <div class="row" style="width:100%;">
            User
        </div>
    </div>
    <hr/>
    <div class="line">
        <div class="row" style="width:100%;">
            <input id="name" name="name" type="text" placeholder="Name" maxlength="100" value="{{ product.name }}" {% if is_view %} disabled {% endif %}>
        </div>
    </div>
    <div class="line">
        <div class="row" style="width:50%;">
            <input id="description" name="description" type="text" placeholder="Description" maxlength="100" value="{{ product.description }}" {% if is_view %} disabled {% endif %}>
        </div>
    </div>
    <div class="line" id="user-buttons">
        {% if not is_view %}
        <div class="row" style="width:8%;">
            <button type="submit" id="user-confirm-button"><i class="fas fa-thumbs-up"></i> Confirm</button>
        </div>
        {% endif %}
        <div class="row" style="width:8%;">
            <button type="button" id="user-return-button" onClick="window.location.href = '{% url 'product' %}'"><i class="fas fa-thumbs-down"></i> Return</button>
        </div>
    </div>
</form>
{% endblock %}